@import "basics/reset";
@import "basics/fonts";

@import "components/avatar";
@import "components/nav";
@import "components/cv";

@import "sections/header";
@import "sections/footer";

:root {
  --color--background: #fcf6f5;
  --color--background--darker: #f0d3ce;
  --color--background--darkest: #e4afa7;
  --color--text: #003807;

  --font-family--primary: "GT Alpina", Times New Roman, Times, serif;
  --font-family--secondary: "GT America", Times New Roman, Times, serif;
  --font-family--mono: "GT Alpina Typewriter", Times New Roman, Times, serif;

  --font-size--base: 20px;
  --font-size--small: 16px;
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--semibold: 500;
  --font-weight--bold: 600;

  --line-height--base: 1.75;

  --spacing: 1.5em;
  --spacing-s: calc(0.5 * var(--spacing));
  --spacing-m: var(--spacing);
  --spacing-l: calc(1.5 * var(--spacing));
  --spacing-xl: calc(2.5 * var(--spacing));
  --spacing-xxl: calc(5 * var(--spacing));
  --spacing-col: calc(6 * var(--spacing));
  --spacing-width-max: 42rem;
  --spacing-width-tiny: 20rem;
  --spacing-width-xl: 52rem;

  --breakpoint: 1024px;
}

html {
  background: var(--color--background);
  color: var(--color--text);
  font-family: var(--font-family--primary);
  font-size: var(--font-size--base);
  font-weight: var(--font-weight--regular);
  font-feature-settings: "onum" 1, "liga" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 var(--spacing-m);
}

body {
  margin: 0 auto;
  line-height: var(--line-height--base);
  max-width: var(--spacing-width-max);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  display: inline;
  background-image: linear-gradient(var(--color--background),
      var(--color--background)),
    linear-gradient(var(--color--background), var(--color--background)),
    linear-gradient(var(--color--background--darker),
      var(--color--background--darker));
  background-size: 0.1em 0.01em, 0.1em 0.07em, 0.07em 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-y: 98%, 98%, 98%;
  background-position-x: 0%, 100%, 0%;
  color: var(--color-text);
  opacity: 0.8;
  text-decoration: none;
  text-shadow: 0.1em 0em var(--color--background),
    0.1em 0.02em var(--color--background), 0.1em 0.04em var(--color--background),
    -0.1em 0.06em var(--color--background),
    -0.1em 0.04em var(--color--background),
    -0.1em 0.02em var(--color--background), -0.1em 0em var(--color--background),
    0.1em -0.02em var(--color--background);
}

a:hover {
  background-image: linear-gradient(var(--color--background),
      var(--color--background)),
    linear-gradient(var(--color--background), var(--color--background)),
    linear-gradient(var(--color--background--darkest),
      var(--color--background--darkest));
  opacity: 1;
}

.main {
  flex: 1;
}

h2 {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-s);
  font-weight: bold;
}

p + p {
  margin-top: var(--spacing-s);
}
