.avatar {
  background-image: url("/img/beach.jpg");
  background-color: #ba4a38;
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 50%;
  display: inline;
  float: right;
  margin-left: 3rem;
  margin-bottom: 1em;
  max-width: 20%;
  position: relative;
  width: 100%;

  @media (max-width: 760px) {
    max-width: 40%;
    margin-left: 1rem;
  }
}

.avatar:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
