.cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--spacing-m);

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }

  h3 {
    font-weight: var(--font-weight--semibold);
  }

  article {
    margin-bottom: var(--spacing-s);
  }

  p {
    font-size: var(--font-size--small);
    line-height: var(--line-height--base);

    &.cv__dates {
      font-family: var(--font-family--mono);
      font-style: italic;
    }
  }
}
