---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";

import { Content as About } from "@/content/about.md";
import { getCollection } from "astro:content";

import ContactLink from "@/components/ContactLink.astro";
import CVItem from "@/components/CVItem.astro";
import RichContent from "@/components/RichContent.astro";
import Avatar from "@/components/Avatar.astro";

const experiences = (await getCollection("experiences")).sort((a, b) => {
  if (a.data.start_date && b.data.start_date) {
    return b.data.start_date.getTime() - a.data.start_date.getTime();
  } else {
    return 0;
  }
});

const educations = await getCollection("educations");
const projects = await getCollection("projects");
const contactLinks = await getCollection("contact_links");
---

<Layout>
  <Section name="About">
    <Avatar />
    <RichContent>
      <About />
    </RichContent>
  </Section>
  <Section name="CV">
    {experiences.map((experience) => <CVItem item={experience.data} />)}
  </Section>
  <Section name="Education">
    {educations.map((education) => <CVItem item={education.data} />)}
  </Section>
  <Section name="Projects">
    {projects.map((project) => <CVItem item={project.data} />)}
  </Section>
  <Section name="Contact">
    {contactLinks.map((contactLink) => <ContactLink contact_link={contactLink} />)}
  </Section>
</Layout>
