<header>
  <aside>
    <h1><a href="/">Ethan Turkeltaub</a></h1>
  </aside>
</header>

<style scoped>
  header {
    display: grid;
    grid-template-columns: 3fr 6fr;
    margin-bottom: var(--spacing-xl);
  }

  h1 a {
    border: none;
  }
</style>
