<header>
  <aside>
    <h1><a href="/">Ethan Turkeltaub</a></h1>
  </aside>
</header>

<style scoped>
  header {
    grid-column: span 24 / span 1;
  }

  h1 {
    font-weight: var(--font-weight--semibold);

    a {
      border: none;
    }
  }
</style>
